body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    min-height: 100vh;
}



#container{
    display: grid;
    grid-template-columns: repeat(8,1fr);
}


.light{
    background-color: sandybrown;
}
.dark{
    background-color: saddlebrown;
}

.valid{
    background-color: lightblue;
}
.selected{
    background-color: gold;
}
.attack{
    background-color: lightcoral;
}
.cell{
    width:100px;
    height: 100px;
    border:1px solid black;
    cursor: pointer;
    transition: 0.1s all;
}
.cell:hover{
    opacity: 0.7;
}

img{
    pointer-events: none;
}

#game-text{
    color : white; 
    font-size : 2em;
}