*{
    margin :0;
    padding : 0;
    box-sizing: border-box;
}

:root{
    --cell-light-color : #818600;
    --cell-dark-color : #6a4c00;
    --cell-size : 60px;
}

body{
    min-height: 100vh;
    background-color: black;
    display: flex;
    justify-content:  center;
    align-items: center;
}

#game-container{
    display: grid;
    grid-template-columns: repeat(8,1fr);
}
#game-text{
    border : 1px solid green;
}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    display: grid;
    place-content: center;
    color : white;
    border : 1px solid black;
}
.light{
    background-color :var(--cell-light-color);
}
.dark{
    background-color : var(--cell-dark-color);
}